body{
    background-color: #aaa;
}

.folder {
    width: 96%;
    margin-right:2%;
    margin-left:2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.art {
    max-width: 32%;
    height:100%;
    box-shadow: 2px 2px 5px;
}

.art.solo{
    max-width: 80%;
    box-shadow: 3px 3px 9px;
    margin-left:10%;
}

h2 {
    font-family: 'Martel';
    font-weight: normal;
    font-size: 32px;
    margin-left: 15%;
    color:#111111;
}

h3 {
    font-family: 'Martel-Light';
    font-weight: lighter;
    font-size: 24px;
    text-align: center;
    color:#222222;
    margin-left:30%;

}